<nav class="navbar navbar-expand-sm navbar-light bg-light" role="navigation">
  <header class="navbar-header">
    <a routerLink="" class="navbar-brand">Webshop</a>
  </header>

  <button class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav ms-auto text-center">
      <li class="nav-item">
        <a class="nav-link" routerLink="products" routerLinkActive="active">Products</a>
      </li>

      <li class="nav-item" *ngIf="this.authService.isLoggedIn()">
        <a class="nav-link" routerLink="orders" routerLinkActive="active">Orders</a>
      </li>

      <li class="nav-item" [ngSwitch]="this.authService.isLoggedIn()">
        <a class="nav-link" routerLink="login" routerLinkActive="active" *ngSwitchCase="false">Login</a>
        <a class="nav-link" routerLink="login" routerLinkActive="active" *ngSwitchCase="true" (click)="this.authService.logout()">Logout</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="wishlist" title="Wishlist" routerLinkActive="active">
          <fa-icon [icon]="faHeart"></fa-icon>
          <p>Wishlist</p>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="shopping-cart" title="Shopping Cart" routerLinkActive="active">
          <fa-icon [icon]="faShoppingCart"></fa-icon>
          <p>Shopping Cart</p>
          <div class="badge rounded-pill bg-danger float-end">{{shoppingCartService.getTotalAmountOfProducts()}}</div>
        </a>
      </li>
    </ul>
  </div>
</nav>
