<h2 class="py-4 font-weight-bold">Wishlist ({{wishlistService.getTotalAmountOfProducts()}} items)</h2>
<div class="row">
  <div class="col-12 col-md-12 col-lg-8 mb-lg-0 mb-5">
    <div *ngFor="let product of products">
      <app-wishlist-item [product]="product"></app-wishlist-item>
    </div>

    <div class="px-2" *ngIf="products?.length == 0">
      <p class="p-0">Your Wishlist is empty</p>
      <button class="w-auto" routerLink="../products">Go Shopping</button>
    </div>
  </div>
</div>
