<div class="card h-100 px-2">
  <div class="card-img-container">
    <img class="card-img-top" src="{{product.imageLink}}" alt="Image of {{product.name}}">

    <div class="card-img-overlay overlay">
      <button type="button"
              class="btn btn-secondary mb-1 button"
              title="View Product"
              (click)="notificationService.viewProduct(product)">
        <fa-icon [icon]="faEye"></fa-icon>
      </button>
      <button type="button"
              class="btn btn-secondary mb-1 button"
              title="Add to Wishlist"
              (click)="wishlistService.toggle(product)">
        <fa-icon [icon]="faHeart" [style.color]="wishlistService.productExists(product) ? 'red' : 'black'"></fa-icon>
      </button>
      <button type="button"
              class="btn btn-secondary mb-1 button"
              title="Add to Cart"
              (click)="shoppingCartService.add(product)">
        <fa-icon [icon]="faShoppingCart"></fa-icon>
      </button>
    </div>
  </div>

  <div class="card-body d-flex flex-column">
    <h5 class="card-title">
      {{product.name}}
    </h5>
    <p class="card-text">
      {{product.price | currency}}
    </p>
  </div>
</div>

