<div class="card px-2 w-100">
  <div class="card-body">
    <h5 class="card-title">Order #{{order.id}}</h5>
    <div class="card-text" *ngFor="let product of order.products">
      <div class="d-flex justify-content-between">
        <p>{{product.name}} x{{product.amount}}</p>
        <p>{{product.price * product.amount | currency}}</p>
      </div>
    </div>

    <div class="card-bottom d-flex justify-content-between">
      <div>
        <button type="button"
                class="btn btn-secondary button"
                title="Remove Order"
                (click)="remove()">
          <fa-icon [icon]="faTrashAlt"></fa-icon>
        </button>
      </div>

      <h5 class="text-decoration-line-over">Total price: {{getTotalPrice() | currency}}</h5>
    </div>

  </div>
</div>

<hr/>
