//@import "src/styles.scss";

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');

* {
  font-family: 'Mulish', sans-serif;
  transition: 0.15s;
}

button:hover .fa-heart, a:hover .fa-heart {
  color: red !important;
}

@mixin button {

  button {
    background-color: white !important;
    min-width: 44px;
    width: auto;
    transition: 0.3s !important;
    border: 1px solid darkgray !important;
    border-radius: 3px;
    color: black;
    text-align: center;
  }

  button:hover {
    background-color: #ededed !important;
  }

  button:disabled {
    opacity: 0.54;
  }

  button:hover:disabled {
    background-color: inherit !important;
  }

  fa-icon {
    background-color: transparent;
    color: black;
  }
}
