//@import "src/styles.scss";

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');

* {
  font-family: 'Mulish', sans-serif;
  transition: 0.15s;
}

@mixin button {
  button {
    background-color: white !important;
    width: 44px;
    transition: 0.3s !important;
    border: 1px solid darkgray !important;
    border-radius: 3px;
    color: black !important;
    text-align: center;
  }

  button:hover {
    background-color: lightgray !important;
  }

  fa-icon {
    background-color: transparent;
    color: black;
  }

  button:hover .fa-heart {
    color: red !important;
  }
}
